<div>
  <h3>Caller</h3>
  <p><strong>Name</strong>: {{ user.name }}</p>
  <p><strong>Calls</strong>: {{ user.calls }}</p>
  <app-call-record
    [name]="user.callRecords[0].name"
    [duration]="user.callRecords[0].duration"
    [number]="user.callRecords[0].number"
    [direction]="user.callRecords[0].direction"
  ></app-call-record>
  <app-call-record
    [name]="user.callRecords[1].name"
    [duration]="user.callRecords[1].duration"
    [number]="user.callRecords[1].number"
    [direction]="user.callRecords[1].direction"
  ></app-call-record>
  <app-call-record
    [name]="user.callRecords[2].name"
    [duration]="user.callRecords[2].duration"
    [number]="user.callRecords[2].number"
    [direction]="user.callRecords[2].direction"
  ></app-call-record>
</div>
