<h1>Assignment</h1>
<section>
  <h2>Part 1: (rubik's cube side)</h2>
  <div class="shade-container">
    <ng-container *ngFor="let s of shades; index as sIndex">
      <div [style.background-color]="s.color" class="shade-box">
        {{ sIndex + 1 }}
      </div>
      <br *ngIf="(sIndex + 1) % 3 === 0" />
    </ng-container>
  </div>
</section>

<section>
  <h2>Part2: (Caesar cipher)</h2>
  <select name="encode" id="encode" [(ngModel)]="encoding">
    <option *ngFor="let opt of options" [value]="opt.value">
      {{ opt.display }}
    </option>
  </select>

  <div class="caesar-cipher">
    <textarea name="textInput" [(ngModel)]="inputText"></textarea>
    <div class="direction">
      <span>{{ encoding === "true" ? "➡️" : "⬅️" }}</span>
    </div>
    <textarea name="textOutput" disabled>{{
      inputText | ceasarCipher: encoding
    }}</textarea>
  </div>
</section>
