<h1>Assignment</h1>
<section>
  <h2>Part 1: (rubik's cube side)</h2>
  <div class="shade-container">
    <div class="shade-box"></div>
  </div>
</section>

<section>
  <h2>Part2: (Caesar cipher)</h2>
  <select name="encode" id="encode" [(ngModel)]="encoding">
    <option *ngFor="let opt of options" [value]="opt.value">
      {{ opt.display }}
    </option>
  </select>

  <div class="caesar-cipher">
    <textarea name="textInput"></textarea>
    <div class="direction">
      <span>{{ encoding === true ? "➡️" : "⬅️" }}</span>
    </div>
    <textarea name="textOutput" disabled></textarea>
  </div>
</section>
