.shade-container {
  padding: 10px;
}
.shade-box {
  border: 1px solid black;
  padding: 2rem;
  display: inline-block;
  color: black;
  font-size: 2rem;
  width: 30px;
}

.caesar-cipher {
  display: flex;
}

.direction {
  margin: 2rem;
  font-size: 2rem;
}
