<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width" appearance="fill" [floatLabel]="loginForm.controls?.email?.value">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" />
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')"> Email is required </mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('email')"> Email is not valid </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')"> Password is required </mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="error">
        <mat-error>
          {{ error }}
        </mat-error>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="fetching">{{ fetching ? 'Login in...' : 'Submit' }}</button>
    </mat-card-actions>
  </mat-card>
</form>
