
<div class="container">
    <div class="row">
      <div class="form-bg">
        <form #regForm='ngForm' (ngSubmit)='register(regForm)'>
          <h2>Registration Page</h2>
          <br />
          <div class="form-group">
            <input type="number" class="form-control" placeholder="ID" name="id" (ngModel)="user.id" required />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="firstName"
              [(ngModel)]="user.firstName" />
          </div>
  
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" />
          </div>
  
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" />
          </div>
          <br />
          <div class="align-center">
            <button type="submit" class="btn btn-primary" id="Register" [disabled]="!regForm.form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <table class="table">
      <thead>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Action</td>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td><button (click)="edit(user)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>